<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Заголовок</title>
	<meta charset="utf-8">
	<meta description="Templates">
	<meta keywords="templates">
</head>
<body>
	<div>
		<header>
			<h1>Hello World</h1>
			<div>
				<img src="img/img1.png" alt="">
			</div>
			<nav>
				<a href="https://www.s-vfu.ru/">Сайт СВФУ</a>
				<a href="#section2">Секция 1</a>
			</nav>
		</header>
		<main>
			<section id="section1" class="section">
				<h2>Секция 1</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum debitis eaque facere voluptatem, accusantium, ipsum, dignissimos nulla quisquam error quibusdam inventore recusandae facilis est corrupti dolor ad repellendus, ducimus provident. 
				Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ea rerum eveniet, blanditiis, minus recusandae necessitatibus, enim quis atque esse deleniti! Qui molestias molestiae sunt aspernatur illo, culpa ex ducimus.
				Eaque ea inventore cumque veniam, nam quos laborum quaerat perferendis ipsum, atque quas aut at impedit. Quisquam veniam, laudantium iusto delectus. Ad dignissimos reiciendis illum excepturi quisquam eos, architecto veritatis!
				Aperiam fugit, quam libero assumenda saepe optio, praesentium suscipit ratione atque, est, eum tempore delectus quis pariatur accusantium magnam a laudantium. Quas, maiores, error sed nemo eaque aut necessitatibus dicta.
				Dolor, nobis ducimus ipsam blanditiis. Omnis odit soluta repudiandae totam unde in possimus non, veritatis dolore excepturi voluptates vel qui odio, veniam voluptatem suscipit amet aspernatur doloribus quas quasi, obcaecati.
				A officiis porro doloremque iusto quam nemo tenetur velit ipsam alias at nesciunt esse possimus repellendus omnis accusantium, impedit! Sed deserunt, quia fugiat iste facere illum voluptas, eveniet accusantium alias.
				Recusandae delectus enim, nisi tenetur! Voluptates et quos quae minus id blanditiis nisi, animi sapiente amet at exercitationem maxime laboriosam officiis mollitia reprehenderit magnam ex ullam quia ducimus quod. Aperiam.
				Porro quam sapiente omnis modi odio quo cum repellat laudantium cupiditate eum, expedita suscipit soluta at enim quis ipsa culpa ipsum quod ab eius dolor reprehenderit nisi? Exercitationem nesciunt, voluptate.
				Quo deleniti nemo doloremque adipisci illo harum optio aliquid, expedita, beatae illum sunt quae. Quam optio iste, obcaecati nam adipisci maiores hic amet debitis dolorum officiis illo dolor quidem tempore.
				Labore eligendi cumque quos libero eum architecto voluptates laborum consequatur sequi consectetur, fugiat fugit voluptatum alias tempora qui illum ratione porro, nisi eius doloribus ipsum, ex optio corporis. Numquam, similique.
				Voluptatum neque, perspiciatis aperiam explicabo eligendi sunt saepe impedit unde temporibus esse molestiae deserunt nisi iste placeat quisquam, ullam magni animi quam! Nostrum eligendi aspernatur consequuntur quisquam pariatur nisi delectus.</p>
				<ul>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ul>
			</section>
			<section id="section2" class="section">
				<h2>Секция 2</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus at nesciunt temporibus distinctio obcaecati quasi asperiores tempore ullam nemo deleniti! Minus esse atque aspernatur explicabo excepturi quis doloremque ullam fugiat?</p>
				<ol>
					<li>One</li>
					<li>Two</li>
					<li>Three</li>
				</ol>
			</section>
		</main>
		<footer>
			<div></div>
		</footer>
	</div>
</body>
</html>